.apps {
    position: relative;
    display: flex;
    width: 100%;

    @media (max-width: $laptop-lg) {
        flex-direction: column;
    }

    &__content {
        display: flex;
        width: 100%;
        padding: 0 0 0 20%;

        @media (max-width: $laptop-lg) {
            padding: 0;
        }
    }

    &__main {
        width: 100%;
        padding: 2rem 2rem 0 4%;
        font-family: $main-font;

        @media (max-width: $laptop-lg) {
            padding: 4rem 4%;
        }
        .apps__boards & {
            overflow: auto;
        }

        &_desc {
            @include section-head;
            font-family: $desc-font
        }
        &_content {
            @include markdownReset;

            &_article {
                margin: 2rem 0 4rem;
                @media (max-width: $laptop-lg) {
                    margin: 0 0 4rem;
                }
            }
            
        }

        &_article {
            margin-top: 5rem;
            &_title {
                @include section-title;
            }
            &_desc {
                @include section-desc;
            }
            
        }
    }
}
