.aside__container {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
    background-color: $white;
}
.aside {
    // margin-top: -5rem;
    &__top {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    &__text {
        font-family: $main-font;
        
        &_title {
            font-family: $main-font;
            font-size: 2.5rem;
            font-weight: 500;
        }
        &_desc {
            font-family: $desc-font;
            margin: 2rem 0 4rem;
            letter-spacing: 1px;
        }
    }
    &__nav {
        font-family: $desc-font;
        text-transform: capitalize;
        &_list {
            list-style: none;
            margin-top: 1rem;
        }
        &_item {
            margin: 0.5rem 0;
            
        }
    }
}

.apps {
    position: relative;
    display: flex;
    width: 100%;
    &__content {
        position: absolute;
        right: 0;
        width: 80%;
        padding: 4rem 0;

        .halves__wrapper {
            padding: 3rem 0;
            justify-content: space-between;
        }
        .halves__box {
            width: 70%;
            padding: 0;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .halves__title {
            transition: all 0.2s ease-in-out;
        }
        .halves__box_img {
            width: 10%;
        }
        .halves__desc {
            margin: 0;
            transition: all 0.2s ease-in-out;
        }
        .halves__image {
            width: 100%;
            svg {
                height: fit-content;
            }
        }
        .hoverMenuItems {
            // transition: all 0.3s ease-in-out;
            &:hover {
                
                
                
            }
        }
    }
}
.red__hover {
    &:hover {
        .halves__title {
            color: $red;
            border-bottom: 2px solid$red;
        }
    }
}
.blue__hover {
    &:hover {
        .halves__title {
            color: $blue;
            border-bottom: 2px solid $blue;
        }
    }
}
.yellow__hover {
    &:hover {
        .halves__title {
            color: $yellow;
            border-bottom: 2px solid $yellow;
        }
    }
}