.explorer {
    position: relative;
    font-family: 'Pompiere', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    width: fit-content;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    z-index: 9999!important;

    @media (max-width: $tablet-lg) {
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        min-height: fit-content;
    }
    &__head {
        position: absolute;
        bottom: 0;
        left: 25px;
        height: 100%;
        transition: all 0.5s ease-in-out;
        z-index: 9999!important;
        mix-blend-mode: difference;
        &:hover {
            .explorer__arrow {
                left: 1.2rem;
            }
            .explorer__title {
                transform: rotate(268deg) translate(-100px,-110px);
            }
            @media (max-width: $tablet-lg) {
                .explorer__title {
                    transform: rotate(0) translate(0);
                }
            }
        }

        @media (max-width: $tablet-lg) {
            position: fixed;
            top: 0;
            left: auto;
            right: 0;
            height: fit-content;
        }
    }

    &__arrow {
        position: fixed;
        bottom: 20px;
        left: -90px;
        transition: all 0.3s ease-in-out;
        mix-blend-mode: difference;

        @media (max-width: $tablet-lg) {
            display: none;
        }
    }

    &__title {
        position: fixed;
        bottom: 16rem;
        left: 1.3rem;
        display: block;
        font-family: $write-font;
        font-size: 6rem;
        letter-spacing: -8px;
        font-weight: bold;
        transform: rotate(270deg) translate(-100px,-110px);
        transition: all 0.3s ease-in-out;
        pointer-events: all;
        color: $white;
        mix-blend-mode: difference;
        animation-name: fadeInDelay;
        animation-duration: $duration-slow;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: $tablet-lg) {
            position: relative;
            bottom: 0;
            font-size: 2rem;
            transform: rotate(0) translate(0);
            letter-spacing: 0;
        }
    }

    &__cta {
        position: fixed;
        bottom: 20rem;
        left: 0.5rem;
        animation-name: fadeInDelay;
        animation-duration: $duration-slow;
        color: $white;
        mix-blend-mode: difference;

        &_txt {
            font-size: 1.2rem;
            font-family: $write-font;
            font-weight: bold;
            text-transform: uppercase;
            transform: translate(0rem, -2.2rem) rotate(10deg);
        }
        &_arrow {
            display: none;
            width: 80px;
            transform: translate(0.5rem, -1.5rem) scaleX(-1) rotate(0deg);
        }
    }

    &__head_les {
        transition: all 0.5s ease-in-out;
        height: 100%;

        &:hover {
            .explorer__arrow_les {
                right: 30px;
            }
            .explorer__title_les {
                transform: rotate(268deg) translate(-47px,5px);
            }
        }

        @media (max-width: $tablet-lg) {
            height: fit-content;
        }
    }
    &__arrow_les {
        position: absolute;
        top: 0;
        right: -200px;
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
        @media (max-width: $tablet-lg) {
            display: none;
        }
    }
    &__title_les {
        position: absolute;
        top: 0;
        right: 25px;
        display: block;
        font-size: 6rem;
        letter-spacing: -8px;
        font-weight: bold;
        transform: rotate(270deg) translate(-50px,20px);
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            .explorer__arrow {
                right: -15px;
            }
        }

        @media (max-width: $tablet-lg) {
            top: -50px;
            right:10px;
            font-size: 3rem;
            letter-spacing: 0;
        }
    }

    &__menu {
        width: 100%;
        height: fit-content;
        padding: 0 7rem 2rem 0;
        transform: translate(-110%,0);
        transition: all 0.5s ease-in-out;
        background-color: $white;
        border-radius: 0 25px 0 0;
        overflow-x: hidden;
        pointer-events: none;
        @media (max-width: $tablet-lg) {
            height: 100vh;
            transform: translate(-110%,0);
            padding: 0;
            display: flex;
            align-items: center;
        }
        &_list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            list-style: none;
            @media (max-width: $tablet-lg) {
                flex-direction: column;
                height: fit-content;
            }
            svg{path{transition: all 0.3s ease-in-out;}}
            li {
                max-width: 350px;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 1.4rem 0 1.4rem 1.4rem;
                padding: 0 1.5rem;
                text-align: left;
                border-radius: $radius-small;
                transition: all 0.5s ease-in-out;
                @media (max-width: $tablet-lg) {
                    margin: 0 auto;
                }
                .menu_item_header {
                    display: flex;
                    align-items: center;
                    padding: 1.5rem 0 0.5rem;
                    border-bottom: 1px solid $grey;
                    transition: border-bottom 0.5s ease-in-out;
                    @media (max-width: $tablet-lg) {
                        padding: 1.1rem 0 1.5rem;
                    }
                    h5 {
                        padding: 0 0 0 1rem;
                        font-family: Helvetica, sans-serif;
                        font-size: 1.5rem;
                        font-weight: 500;
                        @media (max-width: $tablet-lg) {
                            font-size: 1.5rem;
                        }
                    }
                }
                p {
                    font-family: Agrandir;
                    text-align: justify;
                    font-size: 1rem;
                    padding-top: 1.5rem;
                    @media (max-width: $tablet-lg) {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }

    &__blue:hover {background-color:#e2f1f4; svg{path{fill:$blue}} .menu_item_header {border-bottom: 1px solid $blue;} }
    &__red:hover {background-color:#f9e4e4; svg{path{fill:$red}} .menu_item_header {border-bottom: 1px solid $red;} }
    &__yellow:hover {background-color:#f6f1d7; svg{path{fill:$yellow}} .menu_item_header {border-bottom: 1px solid $yellow;} }
    &__grey:hover {background-color:#eae6e7; svg{path{fill:$grey}}}
}
.explorer__expand {
    font-family: 'Pompiere', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 360px;
    transform: translate(0,0);
    transition: all 0.5s ease-in-out;
    pointer-events: all;
    z-index: 9999!important;
    @media (max-width: $tablet-lg) {
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .explorer__menu {
        transform: translate(0,0);
        transition: all 0.5s ease-in-out;
        pointer-events: all;
        @media (max-width: $tablet-lg) {
            height: 100vh;
            width: 100%;
            padding: 0;
            border-radius: 0;
        }
    }
}