.footer {
    width: 100%;
    background-color: $black;
    padding: 4rem 10% 10rem;
    color: $white;
    display: flex;
    // justify-content: space-between;
    &__list {
        list-style: none;
        margin: 0 4rem;
        &_item {
            font-size: 1.2rem;
            font-weight: 200;
        }
    }
}