// newsletter
#mlb2-5898470.ml-form-embedContainer .ml-form-embedWrapper {
    background-color: none!important;
    color: red!important;
}
#mlb2-5898470.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
    max-width: 600px!important;
}

.newsletter__form {
    position: relative;
    margin: 3rem 0;
    width: 100%;
    z-index: 1!important;
    @media (max-width: $laptop) {
        margin: 1rem 0;
    }
    label {
        color: $black!important;
    }
    div {
        width: 100%!important;
        max-width: 100%!important;
        padding: 0!important;
        z-index: 1!important;
    }
    input {
        background-color: none!important;
        border-top: none!important;
        border-right: none!important;
        border-left: none!important;
        border-bottom: 1px solid $black!important;
        border: 2px solid $black!important;
        border-width: 2px!important;
        background-color: $black!important;
        z-index: 1!important;
    }
    input:active {
        border-color: $black!important;
    }
    input:focus {
        border-color: $black!important;
    }
    div {
        text-align: none!important;
        button {
            max-width: 300px!important;
            @media (max-width: $tablet) {
                max-width: 100%!important;
            }
            &:hover {
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both!important;
            }
        }
    }
}