.nav {
    font-family: 'Pompiere', cursive;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 12px;
    z-index: 9999;

    &__logo {
        transform: none;
        transition: all 0.3s ease-in-out;
        animation-name: fadeIn;
        animation-duration: $duration-normal;
    }
    
    &__logo:hover {
        transform: scale(1.1);
    }

    &__items {
        position: absolute;
        top: 0;
        right: 1rem;
        padding: 1rem 2rem 0;
        background-color: $white;
        border-radius: 0 0 $radius-small $radius-small;
        animation-name: slideInFromTop;
        animation-duration: $duration-normal;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);

        @media (max-width: $tablet-lg) {
           display: none;
        }

        &_title {
            width: 100%;
            font-family: $main-font;
            font-size: 0.8rem;
            text-align: right;
        }

        &_link {
            width: 10rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $grey;
            
            &_text {
                @include nav-item;
            }

            &_img {
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease-in-out;
            }
            
            &:hover {.nav__items_link_img {transform: translateX(0.5rem);}}
        }
        &_link_one:hover {.nav__items_link_text {@include nav-item-hover($red)}}
        &_link_two:hover {.nav__items_link_text {@include nav-item-hover($yellow)}}
        &_link_three:hover {.nav__items_link_text {@include nav-item-hover($purple)}}

        &_socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            &_icon {
                width: 30px;
                height: 30px;
                margin-left: 0.6rem;
                transition: all 0.3s ease-in-out;
                &:hover {transform: scale(1.05);}
            }
            &_store {
                width: 45px;
                height: 45px;
                &:hover {@include shaking;}
            }
        }
        
    }
    // &__chordzapp {
    //     @include nav-item;
    //     &:hover { @include nav-item-hover($red) }
    // }
    // &__blog {
    //     @include nav-item;
    //     &:hover { @include nav-item-hover($yellow) }
    // }
    // &__teacher {
    //     @include nav-item;
    //     &:hover { @include nav-item-hover($purple) }
    // }

}