.nav {
    font-family: 'Pompiere', cursive;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 12px;
    &__logo {
        transform: none;
        transition: all 0.3s ease-in-out;
    }
    &__logo:hover {
        transform: scale(1.1);
    }
    &__appBox {
        text-align: right;
    }
    &__chordzapp {
        margin-top: -12px;
        height: 35px;
        font-size: 2.5rem;
        // letter-spacing: -3px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }
    &__chordzapp:hover {
        font-size: 2.6rem;
        color: $red;
    }
    &__quizapp {
        margin-top: 12px;
        font-size: 2.5rem;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }
    &__quizapp:hover {
        font-size: 2.6rem;
        color: $yellow;
    }

}