.nav {
    font-family: 'Pompiere', cursive;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 12px;
    &__logo {
        transform: none;
        transition: all 0.3s ease-in-out;
    }
    &__logo:hover {
        transform: scale(1.1);
    }
    &__items {
        text-align: right;
    }
    &__chordzapp {
        @include nav-item;
        margin-top: -12px;
        font-family: $write-font;
        &:hover { @include nav-item-hover($red) }
    }
    &__blog {
        @include nav-item;
        font-family: $write-font;
        &:hover { @include nav-item-hover($yellow) }
    }
    &__teacher {
        @include nav-item;
        font-family: $write-font;
        &:hover { @include nav-item-hover($purple) }
    }

}