.blog {
    min-height: 100vh;
    &__posts {
        width: 80%;
        
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 10rem;
    }
    &__card {
        width: 20rem;
        margin: 2rem 0 0 2rem;
        padding: 2rem;
        border: 1px solid $grey;
        border-radius: $radius-xs;
        background-color: $white;
        h3 {
            margin: 0 0 1rem;

        }
        p {

        }
    }
}