.blog {
    animation-name: pageTransition;
    animation-duration: 0.4s;
    transition: transform 0.4 ease-in, opacity 1 ease-in-out;
    &__posts {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    &__card {
        width: 15rem;
        padding: 1rem;
        border: 1px solid $purple;
        border-radius: $radius-small;
        background-color: $white;
    }
}