.hero {
    width: 70%;
    height: 100vh;
    min-height: 800px;
    max-height: 1000px;
    max-width: $laptop-lg;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet-lg) {
        width: 90%;
        height: 100%;
        min-height: fit-content;
        max-height: fit-content;
        margin: 6rem auto 0;
        flex-direction: column-reverse;
    }
    &__header {
        width: 45%;
        animation-name: fadeIn;
        animation-duration: $duration-normal;
        @media (max-width: $tablet-lg) {
            width: 100%;
        }
        &_box {
            width: fit-content;
            margin: 0 auto;
            text-align: center;
        }
        &_title {
            font-size: $h1-size;
            margin: 0 auto;
            @media (max-width: 1850px) {
                font-size: 5rem;
            }
            @media (max-width: $laptop) {
                font-size: 4rem;
            }
            @media (max-width: $phone) {
                font-size: 3.3rem;
            }
            @media (max-width: 290px) {
                font-size: 2rem;
            }
            span {
                color: $yellow;
            }
        }
        &_subtitle {
            text-align: center; 
            letter-spacing:17px;
            @media (max-width: 1850px) {
                font-size: 1.5rem;
                letter-spacing:12px;
            }
            @media (max-width: $laptop) {
                font-size: 1rem;
                letter-spacing:9px;
            }
        }
        // &_desc {font-family: Agrandir; text-align: justify; font-size: 1.5rem; margin: 2rem 0 0 0;}
        &_desc {  
            font-family: $desc-font; 
            text-align: justify; 
            font-size: 1.5rem; 
            margin: 2rem 0 0 0;
            @media (max-width: $laptop) {
                font-size: 1rem;
            }
        }
    }
    &__image {
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $tablet-lg) {
            width: 80%;
            margin: 3rem auto;
            height: fit-content;
        }
        svg{
            width: 80%;
            height: auto;
            @media (max-width: $tablet-lg) {
                width: 100%;
            }
        }
        &_fuzzer {
            width: 100%;
            height: auto;
        }
    }
}

.halves {
    position: relative;
    padding: 0 5%;
    z-index: 10;
    
    &__title {
        @include section-title;
    }
    &__head {
        @include section-head;
    }
    &__desc {
        @include section-desc;
    }
    &__wrapper {
        display: flex;
        padding: 4rem 0;
    }
    &__box {
        position: relative;
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 3rem 0 6rem;
        
        @media (max-width: $tablet-lg) {
            width: 100%;
        }
        &_img {
            padding: 4rem;
        }
    }
    &__columns {
        display: flex;
        @include section-desc;
    }
    &__column {
        @include section-desc;
        width: 50%;
    }
    &__image {
        display: flex;
        justify-content: center;
    }
    &__photo {
        width: 50%;
        &:hover {
            @include hover-image;
        }
    }
    &__buttons {
        width: 100%;
        margin: 3rem 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .cta {
            margin-left: 1rem;
        }
    }

    &__mediabox {
        position: absolute;
        width: 50%;
        height: 100%;
    }
    &__media {
        position: absolute;
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
        &_image { max-width: 200px;}

    }
    &__media_top {
        top: 0;
        right: -20%;
        margin-top: -6rem;
        .halves__media_arrows {
            width: 80px;
            transform: rotate(45deg);
            margin: 0 0 -2rem;
        }
    }
    &__media_bottom {
        display: flex;
        align-items: flex-start;
        bottom: 0;
        left: -50%;
        margin-top: 2rem;
        .halves__media_arrows {
            width: 100px;
            transform: rotate(220deg);
            margin: -2rem 0 0;
        }
    }
}
.cards {
    &__title {
        @include section-title;
    }
    &__head {
        @include section-head;
    }
    &__desc {
        @include section-desc;
    }
    &__gallery {
        display: flex;
        justify-content: space-between;
        margin: 6rem 0;
        &_item {
            @include insta-card;
        }
        &_photo {
            width: 100%;
            object-fit: cover;
            border: 0.3rem solid $black;
        }
        &_txt {
            padding: 1rem 0 0;
            text-transform: uppercase;
        }
    }

    &__box {
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 3rem 0 6rem;
        
        @media (max-width: $tablet-lg) {
            width: 100%;
        }
        &_img {
            padding: 4rem;
        }
    }
    &__columns {
        display: flex;
    }
    &__column {
        @include section-desc;
        width: 50%;
    }
    &__image {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    

}

.store {
    margin-bottom: 0;
    &__title {
        @include section-title;
        position: relative;
        z-index: 10;
    }
    &__head {
        @include section-head;
    }
    &__logo {
        height: auto;
        width: 8rem;
    }
    .baner {
        position: relative;
        min-height: 400px;
        background-color: $yellow;
        overflow: hidden;
    }
}

.baner {
    padding: 4rem 6rem;
    border-radius: $radius-big;

    &__wrapp {
        width: 50%;
    }
    &__desc {
        @include section-desc;
        position: relative;
        
        margin: 0;
        z-index: 10;
    }
    &__image {
        position: absolute;
        right: -15rem;
        top: -5rem;
        width: auto;
        height: 160%;
        z-index: 1;
        transform: rotate(-30deg);
        filter: drop-shadow(20px 5px 10px $black);
        // filter: drop-shadow(0 5mm 8mm $black);
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 2rem 0 0;
    }
}

.taste_group {
    @include section-head;

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    text-align: center;
    p {
        width: 80%;
    }
    q {
        font-style: italic;
    }
}