@mixin centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	/* Safari 4+ */
	-moz-transform: translate(-50%, -50%);
	/* Fx 5+ */
	-o-transform: translate(-50%, -50%);
	/* Opera 12+ */
	-ms-transform: translate(-50%, -50%);
	/*IE11 & Microsoft Edge*/
	transform: translate(-50%, -50%);
	/* IE 10+, Fx 29+ */
	z-index: 9;
}

@mixin centerBlock {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@mixin fret($grow: 1) {
	flex-grow: $grow;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

@mixin fretNum($content: '') {
	position: relative; 
    &:before{
        content: $content;
        position: absolute; 
        top: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
		font-size: 0.8rem;
    } 
}

@mixin dot {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity $transition-medium;

    &.dotVisible {opacity: 1;}

    &[data-color="blue"] {background-color: $blue;}
    &[data-color="yellow"] {background-color: $yellow;}
    &[data-color="red"] {background-color: $red;}
    &[data-color="purple"] {background-color: $purple;}
}

@mixin nav-item {
    font-family: $main-font;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

    @media (max-width: $tablet-lg) {
        display: none;
    }
}
@mixin nav-item-hover($color) {
    font-size: 1.05rem;
    color: $color;
}

@mixin section {
    position: relative;
    padding: 0 5%;
    margin: 2rem 0;
    z-index: 10;
    max-width: $secion-max-width;

    @media (max-width: $tablet-lg) {
        margin: 1rem 0;
    }
}
@mixin section-title {
    width: 50%;
    margin-bottom: 2rem;
    font-family: Helvetica Neue, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 2px solid $black;

    @media (max-width: $tablet) {
        width: 100%;
        margin-bottom: 0;
    }
}
@mixin section-head {
    align-items: flex-start;
    font-size: 3rem;

    @media (max-width: $desktop) {
        font-size: 2.5rem;
    }
    @media (max-width: $laptop) {
        font-size: 2rem;
    }
}
@mixin section-desc {
    font-family: $desc-font;
    font-size: 1.5rem;
    margin: 2rem 1rem 0 0;

    @media (max-width: $laptop) {
        font-size: 1rem;
        margin: 2rem 0;
    }
}
@mixin hover-image {
    transform: translate(0, 0);
}

@mixin insta-card {
    position: relative;
    width: 30%;
    height: fit-content;
    padding: 2rem 2rem 4rem;
    overflow: hidden;
    border: 0.3rem solid $black;
    transition: transform 0.3s ease-in-out;
    -webkit-box-shadow: 8px 8px 0px 1px $black;
    -moz-box-shadow: 8px 8px 0px 1px $black;
    box-shadow: 8px 8px 0px 1px $black;
    transform: rotate(5deg);
    // background-color: $white;
    background-color: $bg-color;
    cursor: pointer;
    
    &:hover {
        transform: rotate(0);
    }
}

@mixin tag {
    border-radius: $radius-xs;
    padding: 0.2rem 0.5rem;
    color: $white;
}

@mixin shaking {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@mixin markdownReset {
    h2,h3,h4,h5 {
        margin: 2rem 0;
    }
    p {
        margin: 1rem 0;
    }

    ul, ol {
        padding: 0 0 0 3rem;
    }
    img {
        width: 100%;
        height: auto;
    }
}

@mixin panelButton {
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    border: none;
    margin: 0.5rem 0 0;
    font-size: 0.8rem;
    line-height: 15px;
    font-family: $write-font;
    text-transform: uppercase;
    transition: box-shadow 0.08s, border 0.08s;
    color: $black;

    border-top: 3px inset $white;
    border-right: 3px inset $black;

    -webkit-box-shadow: inset 0px 0px 25px -5px rgb(199, 199, 199);
    -moz-box-shadow: inset 0px 0px 25px -5px rgb(199, 199, 199);
    box-shadow: inset 0px 0px 25px -5px rgb(199, 199, 199);

    &:hover {
        cursor: pointer;
        background-color: #7efcd2;
        border-top: 3px inset #7efcd2;
        border-right: 3px inset rgb(41, 114, 85);
    }

    &:active {
        border-top: 1px inset #7efcd2;
        border-bottom: 1px inset $grey;
        border-left: 1px inset $white;
        border-right: 1px inset rgb(41, 114, 85);
        -webkit-box-shadow: inset 0px 0px 15px -5px rgb(199, 199, 199);
        -moz-box-shadow: inset 0px 0px 15px -5px rgb(199, 199, 199);
        box-shadow: inset 0px 0px 15px -5px rgb(199, 199, 199);
    }

    &.long_button {
        width: 100%;
    }
}
