// Colors
// $yellow: #FED00E;
$yellow: #ffcb70;
// $yellow: #f3e885;
$red: #ff7979;
$blue: #91D5DD;
$grey: #B7B2B4;
$white: #fff;
$black: #1E1F24;
$purple: #a29bfe;
$bg-color: #f0f0f0;
$hover-color: #333;

// Typo
$h1-size: 7rem;
$font-size-big: 14rem;
$font-normal: 1rem;
$font-h-small: 3rem;
$font-subTitle-small: 1rem;

$main-font: Helvetica Neue, sans-serif;
// $desc-font: 'Courier New', arial;
$desc-font: Agrandir;
$write-font: "Pompiere", cursive;

// Radio
$radius-big: 25px;
$radius-small: 15px;
$radius-xs: 5px;

// Transitions
$transition-fast: 0.3s ease-in-out;
$transition-medium: 0.5s ease-in-out;

//media queries
$phone-sm: 325px;
$phone: 450px;
$tablet: 768px;
$tablet-lg: 1024px;
$laptop: 1280px;
$laptop-lg: 1440px;
$desktop: 1920px;