// Colors
$yellow: #FED00E;
// $yellow: #f3e885;
$red: #ff7979;
$blue: #91D5DD;
$grey: #B7B2B4;
$white: #fff;
$black: #000;

// Typo
$h1-size: 7rem;
$font-size-big: 14rem;

// Radio
$radius-big: 25px;
$radius-small: 15px;

// Transitions
$transition-fast: 0.3s ease-in-out;
$transition-medium: 0.5s ease-in-out;