.panel {
    /* Required for background properties */
    position: relative;
    background: $white;

    /* Use  your own styles here */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 850px;
    height: fit-content; 

    margin: 0 0 6rem;
    padding: 3rem 0 1rem;
    border-radius: 25px;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: -1.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;

        // background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
        // background: linear-gradient(-45deg, #FFF000 6%, #ED008C 112% );
        // background: linear-gradient(-45deg, #ffe32c 6%, #52acff 112% );
        background: linear-gradient(-45deg, #45caff 6%, #ff1b6b 112% );
        transform: translate3d(0px, 20px, 0) scale(0.95);
        filter: blur(20px);
        opacity: var(0.7);
        transition: opacity 0.3s;
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: 25px;

    }

    &__desc {
        @include panelMarks;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        width: fit-content;
        padding: 0 1rem;
        background-color: $bg-color;
        
        span {
            margin-left: 0.5rem;
            color: $purple;
            // font-weight: 600;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 880px;
    }
    
    //Panel item with buttons
    &__selector {
        width: fit-content;

        &_row {
            height: 120px;
            display: flex;
            margin: 0 0 2rem;
        }

        &_small {
            .panel__selected_value {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
            }
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;

        &_double {
            display: flex;
            justify-content: space-between;

            button {
                &:first-child {
                    margin-right: 0.5rem
                }
            }
        }
        button {
            @include panelButton;
        }
    }
    &__selected {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        &_value {
            font-size:1.2rem;
            width: 8rem;
            padding: 0 5px;
        }
        &_list {
            position: absolute;
            top: 0;
            left: -3rem;

            max-height: 0;
            opacity: 0;
            visibility: hidden;
            &.list__active {
                max-height: 40rem;
                opacity: 1;
                visibility: visible;
            }
        }
        &_li {
            list-style: none;
            &:hover{
                background-color: $grey;
                cursor: pointer;
            }
        }
    }
    //Panel item with buttons the end

    //Panel knobs
    &__knob {
        height: 120px;
        margin: 0 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_options {
            display: flex;
            justify-content: space-between;
            p {
                padding: 1rem 0;
                width: 6rem;
                display: flex;
                justify-content: center;
                font-family: $write-font;
                text-transform: uppercase;
            }
        }
        &_el {
            @include panelKnob;
        }
        &_modeOn {
            transform: rotate(90deg);
        }
    }
    //Panel knobs the end

    &__item_description {
        @include panelMarks;
        width: 100%;
        text-align: center;
        background-color: $bg-color;
    }
}