.panel {
    /* Required for background properties */
    position: relative;
    background: $white;

    /* Use  your own styles here */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 123px; 

    margin: 0 auto 6rem auto;
    border-radius: 25px;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: -1.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;

        // background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
        // background: linear-gradient(-45deg, #FFF000 6%, #ED008C 112% );
        // background: linear-gradient(-45deg, #ffe32c 6%, #52acff 112% );
        background: linear-gradient(-45deg, #45caff 6%, #ff1b6b 112% );
        transform: translate3d(0px, 20px, 0) scale(0.95);
        filter: blur(20px);
        opacity: var(0.7);
        transition: opacity 0.3s;
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: 25px;

    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    
    //Panel item with buttons
    &__selector {
        &_row {
            display: flex;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
    }
    &__selected {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        &_value {
            font-size: 2rem;
            width: 8rem;
        }
        &_list {
            position: absolute;
            top: 0;
            left: -3rem;

            max-height: 0;
            opacity: 0;
            visibility: hidden;
            &.list__active {
                max-height: 40rem;
                opacity: 1;
                visibility: visible;
            }
        }
        &_li {
            list-style: none;
            &:hover{
                background-color: $grey;
                cursor: pointer;
            }
        }
    }
    //Panel item with buttons the end

    //Panel knobs
    &__knob {
        &_options {
            display: flex;
            justify-content: space-between;
            p {
                padding: 1rem 2rem;
            }
        }
        &_el {
            display: flex;
            justify-content: center;
            span {
                position: relative;
                display: block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 2px solid $black;
                cursor: pointer;

                &:before {
                    content: '';
                    height: 2px;
                    width: 1rem;
                    position: absolute;
                    top: 7px;
                    left: 0px;
                    background-color: $black;
                    transform: rotate(45deg);
                }
            }
        }
        &_modeOn {
            transform: rotate(90deg);
        }
    }
    //Panel knobs the end

    &__item_description {
        width: 100%;
        text-align: center;
    }
}