.piano__container {
    @include instruments;
    
    margin: 4rem 0;
    width: 100%;
    overflow: auto;

    .piano {
        display: flex;
        width: 100%;
        border-radius: 25px;
        margin: 2rem auto;
    }
    .double {
      position: relative;
      width: 7.14%;
      .white {
        width: 100%;
      }
    }
    .white {
      position: relative;
      border: 2px solid #000;
      width: 7.14%;
      height: 240px;
      background-color: #fff;
      // cursor: pointer;
      // &:hover {
      //   background-color: rgb(225, 225, 225);
      // }
    }

    .black {
      position: absolute;
      top: 0;
      right: -20px;
      width: 40px;
      height: 170px;
      background-color: #000;
      z-index: 100;
      border-radius: 0 0 15px 15px;
      // cursor: pointer;
      // &:hover {
      //   background-color: rgb(158, 184, 255);
      // }
    }

    .white,
    .black {
      //Dot
      span {
        @include dot;
        top: auto;
        bottom: 0;
      }
    }
}

