@import 'abstracts/animations';
@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'layout/nav';
@import 'layout/explorer';
@import 'layout/forms';
@import 'layout/footer';

@import 'components/buttons';

@import 'pages/home';
@import 'pages/chordzapp';

.main {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
}
