@import 'abstracts/variables';
@import 'abstracts/animations';
@import 'abstracts/mixins';

@import 'layout/aside';
@import 'layout/nav';
@import 'layout/explorer';
@import 'layout/forms';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/panel';
@import 'components/piano';
@import 'components/guitar';

@import 'pages/home';
@import 'pages/chordzapp';
@import 'pages/blog';
@import 'pages/post';

.main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $main-font;
  color: $black;
}

.bg_grey { background: $grey; }
.bg_green { background: $green; }
.bg_purple { background: $purple; }
.bg_red { background: $red; }
